<html>
<head>
   <title>The VOID</title>
   <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
   <style>
      body{
         padding-top: 50px;
         background-color: white;
      }
   </style>
</head>
<body>

   <nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed"
         data-toggle="collapse" data-target="#navbar" aria-expanded="false"
         aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">The VOID</a>
         </div>
         <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
            <li><a href="/Hottest">Hottest</a></li>
            <li><a href="/Newest">Newest</a></li>
            <li><a href="/Categories">Categories</a></li>
            <li><a href="/SLogin">Login/Sign up</a></li>
         </ul>
         </div>
      </div>
   </nav>

   <div class="container">
       <h1>Home</h1>
       <p>Browse the terrible insults people come up with.</p>
       <p>Register and login to enter your own</p>



       
         
          
       {% for num in count %}
          
        <div class="row">
        <div class="col-sm-3">
        <div class="well">
        <p>{{username[num]}}</p>
        </div>
        </div>
        <div class="col-sm-9">
        <div class="well">
        <p>{{insult[num]}}</p>
        <p><a href="/Tags">Tags</a></p>
        <p>
        <span class="label label-default">{{tag1[num]}}</span>
        <span class="label label-default">{{tag2[num]}}</span>
        <span class="label label-default">{{tag3[num]}}</span>
        <span class="label label-default">{{tag4[num]}}</span>
        <span class="label label-default">{{tag5[num]}}</span>
        <span class="label label-default">{{tag6[num]}}</span>
        </p>
        <button type="button" class="btn btn-Success">Like<span class="badge">{{likes[num]}}</span></button>
        <button type="button" class="btn btn-Danger">Dislike<span class="badge">{{dislikes[num]}}</span></button>
        </div>
        </div>
        </div>

       {% endfor %}







            <!--New comments container--!>


<!--         
   <form name="message_form" action="/Send" method="POST"
   <div class="row">
      <div class="col-sm-3">
      </div>
     
      <div class="col-sm-9">
         <div class="col-sm-9">
            <div class="form-group">
               <label for="comment">Comment:</label>
               <textarea class="form-control" rows="3" cols="50" style="font-size: 30pt" name="messagebody"></textarea>
            </div>
         </div>
      </div>
      
      <form action="/Send"> 
         <input type="submit" value="Send your insults"/>
      </form>
      
      <label for="tag1"><b>Tag1</b></label>
      <input type="tag1" value="" name="tag1" id="tag1"          


            <form action="/Send">
               <input type="submit" value="Send your insult" />
            </form>
         </div>
      </form>
      </div>
      </div>
   </div>
</div>
               
    --!>                      
	</div>
</div>



   </div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
