<html>
<head>
   <title>The VOID</title>
   <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
   <style>
      body{
         padding-top: 50px;
         background-color: white;
      }
   </style>
</head>
<body>

   <nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed"
         data-toggle="collapse" data-target="#navbar" aria-expanded="false"
         aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">The VOID</a>
         </div>
         <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
            <li><a href="/Hottest">Hottest</a></li>
            <li><a href="/Newest">Newest</a></li>
            <li><a href="/Categories">Categories</a></li>
            <li><a href="/SLogin">Login/Sign up</a></li>
         </ul>
         </div>
      </div>
   </nav>

   <div class="container">
       <h1>Home</h1>
       <p>This is merely to act as a starting point as you navigate around the website. Below are some select insults from users.</p>


      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>iJohn</p>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Your teeth are almost as crooked, as the political party you support.</p>
          <p><a href="/Tags">Tags</a></p>
          <p>
             <span class="label label-default">Political</span>
             <span class="label label-default">Teeth</span>
             <span class="label label-default">Appearance</span>
          </p>
             <button type="button" class="btn btn-Success">Like<span class="badge">20</span></button>
             <button type="button" class="btn btn-Danger">Dislike<span class="badge">5</span></button>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>AmJooke</p>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Your mother is such a nice lady, shame she won't walk again with so much dissapointment weighing her down.</p>
          <p><a href="/Tags">Tags</a></p>
          <p>
             <span class="label label-default">Your mother</span>
             <span class="label label-default">Subversion</span>
             <span class="label label-default">Dissapointment</span>
             <span class="label label-default">Disability</span>
          </p>
             <button type="button" class="btn btn-Success">Like<span class="badge">43</span></button>
             <button type="button" class="btn btn-Danger">Dislike<span class="badge">2</span></button>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>katZ</p>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Your forehead is more like a 10head. Thats 10 more head than you'll ever get.</p>
          <p><a href="/Tags">Tags</a></p>
          <p>
             <span class="label label-default">Virgin shaming</span>
             <span class="label label-default">Appearance</span>
          </p>
             <button type="button" class="btn btn-Success">Like<span class="badge">10</span></button>
             <button type="button" class="btn btn-Danger">Dislike<span class="badge">2</span></button>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>BadBoiiiiiii</p>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Your voice is so annoying.</p>
          <p><a href="/Tags">Tags</a></p>
          <p>
             <span class="label label-default">Voice</span>
             <span class="label label-default">Simple</span>
          </p>
             <button type="button" class="btn btn-Success">Like<span class="badge">1</span></button>
             <button type="button" class="btn btn-Danger">Dislike<span class="badge">20</span></button>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>iJohn</p>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Have you ever considered why you such a hard time with romantic encounters? You'd assume its because of your bad hair, bad skin and fugly bod. But no that doesn't come close to describing your flaws.</p>
          <p><a href="/Tags">Tags</a></p>
          <p>
             <span class="label label-default">Virgin shaming</span>
             <span class="label label-default">Hair</span>
             <span class="label label-default">Skin</span>
             <span class="label label-default">Appearance</span>
             <span class="label label-default">Subversion</span>
          </p>
             <button type="button" class="btn btn-Success">Like<span class="badge">10</span></button>
             <button type="button" class="btn btn-Danger">Dislike<span class="badge">10</span></button>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>GreenMean</p>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>I'd call you a sheep shagger but sheep have higher standards.</p>
          <p><a href="/Tags">Tags</a></p>
          <p>
             <span class="label label-default">Beastiality</span>
             <span class="label label-default">Virgin shaming?</span>
             <span class="label label-default">Sheep</span>
          </p>
             <button type="button" class="btn btn-Success">Like<span class="badge">10</span></button>
             <button type="button" class="btn btn-Danger">Dislike<span class="badge">15</span></button>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>FranztheBaddie</p>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>I wish a zombie apocalypse happens so I can kill you twice.</p>
          <p><a href="/Tags">Tags</a></p>
          <p>
             <span class="label label-default">Zombie</span>
             <span class="label label-default">Killing</span>
          </p>
             <button type="button" class="btn btn-Success">Like<span class="badge">5</span></button>
             <button type="button" class="btn btn-Danger">Dislike<span class="badge">2</span></button>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>OrangeManBad</p>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Putting Trump next to you makes it look like a smart well composed man is in the whitehouse. But then you leave and the bar is raised.</p>
          <p><a href="/Tags">Tags</a></p>
          <p>
             <span class="label label-default">Political</span>
             <span class="label label-default">Indirect</span>
             <span class="label label-default">Intelligence</span>
          </p>
             <button type="button" class="btn btn-Success">Like<span class="badge">7</span></button>
             <button type="button" class="btn btn-Danger">Dislike<span class="badge">15</span></button>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>ZaNPC</p>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>You so ugly hello kitty says "bye bye" to you.</p>
          <p><a href="/Tags">Tags</a></p>
          <p>
             <span class="label label-default">Hello Kitty</span>
             <span class="label label-default">Appearance</span>
             <span class="label label-default">Pun</span>
          </p>
             <button type="button" class="btn btn-Success">Like<span class="badge">30</span></button>
             <button type="button" class="btn btn-Danger">Dislike<span class="badge">2</span></button>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Monty</p>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Your mother was a hamster and your father smelt of elderberries.</p>
          <p><a href="/Tags">Tags</a></p>
          <p>
             <span class="label label-default">Reference</span>
          </p>
             <button type="button" class="btn btn-Success">Like<span class="badge">10</span></button>
             <button type="button" class="btn btn-Danger">Dislike<span class="badge">5</span></button>
          </div>
        </div>
      </div>

   </div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
