<html>
<head>
   <title>The VOID</title>
   <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
   <style>
      body{
         padding-top: 50px;
         background-color: white;
      }
   </style>
</head>
<body>

   <nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed"
         data-toggle="collapse" data-target="#navbar" aria-expanded="false"
         aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">The VOID</a>
         </div>
         <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
            <li><a href="/Hottest">Hottest</a></li>
            <li><a href="/Newest">Newest</a></li>
            <li class="active"><a href="/Categories">Categories</a></li>
            <li><a href="/SLogin">Login/Sign up</a></li>
         </ul>
         </div>
      </div>
   </nav>

   <div class="container">
       <p>This is a place to choose to filter and find insults by tags.</p>

       <div class="row">
          <div class="col-sm-3">
             <div class="well">
                <h2><a href="/Tags">Tags</a></p>
             </div>
          </div>
          <div class="col-sm-9">
       
       

       <p><a href="/Tags/Appearance">Appearance</a></p>
       <p><a href="/Tags/Teeth">Teeth</a></p>
       <p><a href="/Tags/Political">Political</a></p>
       <p><a href="/Tags/Yourmother">Your mother</a></p>
       <p><a href="/Tags/Subversion">Subversion</a></p>
       <p><a href="/Tags/Dissapointment">Dissapointment</a></p>
       <p><a href="/Tags/Disability">Disability</a></p>
       <p><a href="/Tags/Virginshaming">Virgin shaming</a></p>
       <p><a href="/Tags/Voice">Voice</a></p>
       <p><a href="/Tags/Simple">Simple</a></p>
       <p><a href="/Tags/Hair">Hair</a></p>
       <p><a href="/Tags/Skin">Skin</a></p>
       <p><a href="/Tags/Beastiality">Beastiality</a></p>
       <p><a href="/Tags/Sheep">Sheep</a></p>
       <p><a href="/Tags/Zombie">Zombie</a></p>
       <p><a href="/Tags/Killing">Killing</a></p>
       <p><a href="/Tags/Indirect">Indirect</a></p>
       <p><a href="/Tags/Intelligence">Intelligence</a></p>
       <p><a href="/Tags/Hellokitty">Hello Kitty</a></p>
       <p><a href="/Tags/Pun">Pun</a></p>
       <p><a href="/Tags/Reference">Reference</a></p>
           </div>
        </div>
     </div>



    </div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
